
.img-module{
    width:66%;
}
.img-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.img-head{
    position: relative;
}
.img-count{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}
button.clear{
    position: absolute;
    top: 0;
    right: 0;
    font-size: .5rem;
    color: red;
    border: 3px solid red;
}
button.clear:hover{
    background-color: red;
    border:3px solid rgb(250, 117, 117);
    color: white;
}
button.download{
    font-size: 1rem;
    color: #0069D9;
    border: 3px solid #0069D9;
}
button.download:hover{
    background-color: #0069D9;
    border:3px solid rgb(118, 178, 241);
    color: white;
}
.selectall{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}
input[type="checkbox"]{
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}