
.input-module{
    margin-bottom: 1.5rem;
    margin-top: -100px;
    
}

input{
    padding-left: 7px;
    font-size: 1.25rem;
    margin:1rem auto;
    border-radius: .3rem;
    line-height: 1.5rem;
    background-color: #F1F9F8;
}

input.url{
    width:100%;
    line-height: 1.8;
} 

input.setting{
    margin:1rem 1rem;
    width:22%;
}
button.submit{
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: .5rem 1rem;
    background-color: transparent;
    border:3px solid green;
    color: green;
}
button.submit:hover{
    background-color: green;
    border:2px solid lightgreen;
    color: white;
}