
.input-module{
    margin-bottom: 1.5rem;
    margin-top: -100px;
    
}

input[type="search"]{
    padding-left: 7px;
    font-size: 1.25rem;
    margin:.5rem auto;
    border-radius: .3rem;
    line-height: 1.5rem;
    background-color: #F1F9F8;
}

input.url{
    width:100%;
    line-height: 1.8;
} 

input.setting{
    margin:.5rem 1rem;
    width:22%;
}
button.submit{
    font-size: 1.1rem;  
    border:3px solid green;
    color: green;
    margin-top: .5rem;
}
button.submit:hover{
    background-color: green;
    border:3px solid lightgreen;
    color: white;
}
